p::first-letter{
    font-family: 'EmbossedBlack';
}
h1{
    font-family: 'EmbossedBlack';
}
.center{
    color : red;
    text-align: center;
}
.texte-just{
    text-align: justify;
    max-width : 600px;
    padding-left: 350px; 
}  
 @media(max-width:600px){
        img{
            max-width: 100vw;}
        .texte-just{
            max-width:100%;
            padding-left: 2px;
                }
    }

.pink{
    text-transform: uppercase;
    color : palevioletred;
}
